*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: $black10;
	color: $black;
}

img {
	width: 100%;
}

.container {
	max-width: $container-width;
	margin: auto;
}
