.nav-vehicle-list-wrapper {
	visibility: hidden;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 10px;
	color: $black;
	background-color: $black5;
	opacity: 0;
	transition: opacity $transition-duration ease-in-out;
	display: flex;

	.navigationItem:hover & {
		opacity: 1;
		visibility: visible;
	}
}

.nav-vehicle-list {
	display: flex;
}

.nv-category {
	margin-right: 10px;
}

.nv-item {
	list-style-type: none;
}

.nv-link {
	display: block;
	text-decoration: none;
	@include primaryFontStack;
	color: $white;
	background-color: $primaryColor;
	padding: 10px 50px;
	margin-bottom: 10px;
	border-radius: 50px;
	transition: background-color $transition-duration ease-in-out;

	.nv-item:hover & {
		background-color: $primaryColorLight;
	}
}

.nav-tertiary {
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	width: 100%;
	visibility: hidden;
	background-color: $black5;
	transition: opacity $transition-duration ease-in-out;
	padding: 10px 0;

	.nv-item:hover & {
		visibility: visible;
		opacity: 1;
	}
}

.pure-g {
	display: flex;
	flex-wrap: wrap;

	@supports (grid-area: auto) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.nv-model-wrapper {
	width: 25%;

	@supports (grid-area: auto) {
		width: auto;
	}
}

.nv-model-link {
	@include primaryFontStackBold;
	text-decoration: none;
	color: $primaryColor;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.nv-model-image {
	transition: transform 0.3s ease-in;
	transform: scale(1);

	&:hover {
		transform: scale(1.04);
	}
}
