.brandDealershipWrapper {
	display: flex;
	align-items: center;

	&::before,
	&::after {
		content: "";
		height: 2px;
		width: calc((100% - #{$container-width}) / 2);
		background-color: $white;
		transition: background-color $transition-duration ease-in;

		.headerContentWrapper:hover & {
			background-color: $primaryColor;
		}
	}
}

.logoDealerNameWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: $container-width;

	&::before {
		content: "";
		height: 2px;
		width: 3%;
		background-color: $white;
		transition: background-color $transition-duration ease-in;
		margin-right: $gap-size;
	}

	&::after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background-color: $white;
		transition: background-color $transition-duration ease-in;
	}

	.headerContentWrapper:hover & {
		&::before,
		&::after {
			background-color: $primaryColor;
		}
	}
}

.logoDealerNameLink {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-right: $gap-size;
}

.brandLogo {
	width: $brand-logo-size;
	height: $brand-logo-size;
	fill: $white;
	transition: fill $transition-duration ease-in;
	margin-right: $gap-size;

	.headerContentWrapper:hover & {
		fill: $primaryColor;
	}
}

.dealerNameText {
	@include primaryFontStackBold;
	color: $white;
	font-size: 20px;
	transition: color $transition-duration ease-in;

	.headerContentWrapper:hover & {
		color: $primaryColor;
	}
}
