.header {
	background-color: $primaryColor;
	border-bottom: 1px solid $black30;
}

.headerTitle {
	@include primaryFontStackBold;
	text-align: center;
	font-size: 32px;
	line-height: 42px;
	color: $white;
	padding: 10px;
	margin: 0;

	@include respond-screen($bp-md) {
		font-size: 48px;
		line-height: 56px;
	}
}

.pageContent {
	background-color: $white;
	padding: 15px;
}

.summarySection,
.linksSection,
.milestoneSection {
	margin: 0 0 50px 0;
	padding: 20px;
}

.linksSection {
	background-color: $primaryColor;
	color: $white;
	border-radius: 10px;

	.titleText {
		color: $white;
	}
}

.pageDescription {
	display: flex;
	flex-direction: column;

	@include respond-screen($bp-md) {
		flex-direction: row;
	}
}

.descriptionTitleTextWrapper {
	width: 100%;

	@include respond-screen($bp-md) {
		width: 50%;
	}
}

.titleText {
	@include primaryFontStackBold;
	font-size: 32px;
	line-height: 42px;
	color: $primaryColor;
	margin: 20px 0;
}

.descriptionTitle {
	@include primaryFontStackBold;
	font-size: 24px;
}

.descriptionText {
	@include primaryFontStack;
	font-size: 20px;
}

.descriptionImageTextWrapper {
	width: 100%;
	margin: 20px 0;
	border: 1px solid $black20;
	border-top: 0;

	@include respond-screen($bp-md) {
		width: 50%;
	}
}

.imageTitle {
	@include primaryFontStackBold;
	text-align: center;
	font-size: 18px;
	margin: 10px 0;
}

.imageText {
	@include primaryFontStack;
	text-align: center;
	font-size: 15px;
	color: $black90;
	margin: 10px 0;
}

.projectLinks {
	margin: 20px 0;
}

.projectTitleTextWrapper {
	width: 100%;

	@include respond-screen($bp-md) {
		width: 50%;
	}
}

.buttonGroup {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.button {
	@include primaryFontStackConBold;
	font-size: 20px;
	color: $primaryColor;
	text-decoration: none;
	text-align: center;
	background-color: $white;
	min-width: 100%;
	padding: 10px 20px;
	border-radius: 80px;
	transition: background-color 250ms ease-in;

	@include respond-screen($bp-md) {
		min-width: 20%;
		padding: 10px 40px;
	}


	&:hover {
		background-color: $secondaryColor;
	}
}

.milestones {
	margin: 20px 0;

	.titleText {
		text-align: center;
		margin: 20px 0;
	}
}

.milestoneItemWrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;

	@include respond-screen($bp-md) {
		width: 50%;
	}
}

.milestone {
	display: flex;
	align-items: center;
	flex-direction: row;
	@include primaryFontStackConBold;
	text-align: center;
	list-style: none;
	padding: 25px 0;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 4px;
		top: 0%;
		left: 49.6%;
		background-color: $black30;

		@include respond-screen($bp-md) {
			left: 49.8%;
		}
	}

	&.active {
		.point {
			background-color: $green;
			border-color: $green;
		}

		&::after {
			background-color: $green;
		}
	}

	&:first-child {
		&::after {
			height: 50%;
			top: 50%;
		}
	}

	&:last-child {
		&::after {
			height: 0;
		}

		&::before {
			content: "";
			position: absolute;
			height: 50%;
			width: 4px;
			top: 0%;
			left: 49.6%;
			background-color: $black30;

			@include respond-screen($bp-md) {
				left: 49.8%;
			}
		}
	}

	&:nth-child(even) {
		flex-direction: row-reverse;

		.date {
			flex-direction: row-reverse;
		}
	}

	.content {
		width: 50%;
	}
}

.content {
	@include primaryFontStack;
	padding: 20px 10px;
	background-color: $primaryColor;
	color: $white;
	margin-bottom: 0;
	text-align: center;
	border-radius: 10px;
}

.point {
	min-width: 20px;
	height: 20px;
	background-color: $black30;
	border-radius: 100%;
	z-index: 2;
	border: 3px solid $black30;
	position: relative;
	//left: 1px;
	margin: 0 10px;
}

.date {
	display: flex;
	padding: 20px 10px;
	@include primaryFontStackConBold;
	width: 50%;
}
