.headerContent {
	background-color: $white;
	border-bottom: 1px solid $black10;
}

.headerTitle {
	@include primaryFontStackBold;
	text-align: center;
	padding: 10px;
	margin: 0;
}

.pageContent {
	background-color: $white;
	padding: 15px;
}

.titleText {
	@include primaryFontStackBold;
	margin: 20px 0;
}

.descriptionTitle {
	@include primaryFontStackBold;
	margin: 20px 0;
}

.descriptionText {
	@include primaryFontStack;
}

.descriptionImageTextWrapper {
	margin: 20px 0;
	border: 1px solid $black20;
	border-top: 0;
}

.imageTitle {
	@include primaryFontStackBold;
	text-align: center;
	font-size: 18px;
	margin: 10px 0;
}

.imageText {
	@include primaryFontStack;
	text-align: center;
	font-size: 15px;
	color: $black90;
	margin: 10px 0;
}

.projectLinks {
	text-align: center;
	margin: 20px 0;
}

.buttonGroup {
	display: flex;
	justify-content: center;
}

.button {
	@include primaryFontStackConBold;
	font-size: 20px;
	color: $white;
	text-decoration: none;
	text-align: center;
	background-color: $primaryColor;
	min-width: 10%;
	margin: 0 20px;
	padding: 10px 40px;
	border-radius: 80px;

	@include animationEaseInAll(250ms, null);

	&:hover {
		background-color: $primaryColor-light;
	}
}

.milestones {
	.titleText {
		text-align: center;
		margin: 20px 0;
	}
}

.milestoneItemWrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;

	@include respond-screen($bp-md) {
		width: 50%;
	}
}

.milestone {
	display: flex;
	align-items: center;
	flex-direction: row;
	@include primaryFontStackConBold;
	text-align: center;
	list-style: none;
	padding: 25px 0;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 4px;
		top: 0%;
		left: 49.8%;
		background-color: $black30;
	}

	&.active {
		.point {
			background-color: $green;
			border-color: $green;
		}

		&::after {
			background-color: $green;
		}
	}

	&:first-child {
		&::after {
			height: 50%;
			top: 50%;
		}
	}

	&:last-child {
		&::after {
			height: 0;
		}

		&::before {
			content: "";
			position: absolute;
			height: 50%;
			width: 4px;
			top: 0%;
			left: 49.8%;
			background-color: $black30;
		}
	}

	&:nth-child(even) {
		flex-direction: row-reverse;

		.date {
			flex-direction: row-reverse;
		}
	}

	.content {
		width: 50%;
	}
}

.content {
	@include primaryFontStack;
	padding: 20px 10px;
	background-color: $primaryColor;
	color: $white;
	margin-bottom: 0;
	text-align: center;
	border-radius: 10px;
}

.point {
	min-width: 20px;
	height: 20px;
	background-color: $black30;
	border-radius: 100%;
	z-index: 2;
	border: 3px solid $black30;
	position: relative;
	//left: 1px;
	margin: 0 10px;
}

.date {
	display: flex;
	padding: 20px 10px;
	@include primaryFontStackConBold;
	width: 50%;
}
