.headerNavigationWrapper {
	background-color: rgba(0, 0, 0, 0.5);
}

.brandLogo {
	width: 56px;
	height: 56px;
	fill: $white;
	margin: 0 10px;
}

.dealerName {
	color: $white;
	margin: 0 10px;
	font-size: 24px;
}
