.headerNavigationWrapper {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;

	&::before,
	&::after {
		content: "";
		height: 2px;
		width: 100%;
		background: $white;
	}
}

.logoDealerNameWrapper {
	display: flex;
	align-items: center;
	padding: 10px 0;
	width: 100%;

	&::after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: $white;
	}
}

.brandLogo {
	width: 56px;
	height: 56px;
	fill: $white;
	margin: 0 10px;
}

.dealerName {
	color: $white;
	margin: 0 10px;
	font-size: 24px;
}
