.brandDealership {
	display: flex;
	align-items: center;
	position: relative;

	&::before,
	&::after {
		content: "";
		height: 2px;
		width: 100%;
		background-color: $white;

		@include transitionEaseIn(background-color, $transition-duration, null);

		.headerInformation:hover & {
			background-color: $black;
		}
	}
}

.logoDealerNameWrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 100vw;

	@include respond-screen($bp-md) {
		min-width: $container-width;
	}

	&::before {
		content: "";
		height: 2px;
		width: 5%;
		background-color: $white;

		@include transitionEaseIn(background-color, $transition-duration, null);
	}

	&::after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background-color: $white;

		@include transitionEaseIn(background-color, $transition-duration, null);
	}

	.headerInformation:hover & {
		&::before,
		&::after {
			background-color: $black;
		}
	}
}

.logoDealerNameLink {
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;
}

.brandLogo {
	width: $logo-width;
	height: $logo-height;
	fill: $white;

	@include transitionEaseIn(fill, $transition-duration, null);

	.headerInformation:hover & {
		fill: $black;
	}
}

.dealerName {
	@include primaryFontStackBold;
	color: $white;
	font-size: 20px;

	@include transitionEaseIn(color, $transition-duration, null);

	.headerInformation:hover & {
		color: $black;
	}
}
