.headerNavigationWrapper {
	display: flex;
	align-items: center;
	background-color: $black-opacity-50;
	position: absolute;
	width: 100%;

	&::before,
	&::after {
		content: "";
		height: 2px;
		width: 100%;
		background-color: $white;
	}

	@include animationEaseInAll(250ms, null);

	&:hover {
		background-color: $white;

		&::before,
		&::after {
			background-color: $black;
		}

		.logoDealerNameWrapper {
			&::before,
			&::after {
				background-color: $black;
			}
		}

		.brandLogo {
			fill: $black;
		}

		.dealerName {
			color: $black;
		}

		@include animationEaseInAll(250ms, null);
	}
}

.logoDealerNameLink {
	text-decoration: none;
}

.logoDealerNameWrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px 0;
	width: 100vw;
	max-width: $container-width;

	@include respond-screen($bp-md) {
		min-width: $container-width;
	}

	&::before {
		content: "";
		height: 2px;
		width: 1%;
		background: $white;
	}

	&::after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: $white;
	}
}

.brandLogo {
	width: $logo-width;
	height: $logo-height;
	fill: $white;
}

.dealerName {
	@include primaryFontStack;
	color: $white;
	font-size: 20px;
}
