.headerInformation {
	position: absolute;
	width: 100%;

	&:hover {
		.addressBarWrapper {
			background-color: $white;
		}

		.dealerInformation {
			color: $black;

			&::after {
				color: $black;
			}
		}

		.addressBarText {
			color: $black;
		}

		.brandDealership {
			background-color: $white;

			&::before,
			&::after {
				background-color: $black;
			}
		}

		.logoDealerNameWrapper {
			&::before,
			&::after {
				background-color: $black;
			}
		}

		.brandLogo,
		.iconLocation,
		.iconPhone {
			fill: $black;
		}

		.dealerName {
			color: $black;
		}
	}
}

.addressBarWrapper {
	background-color: $black-opacity-50;

	@include animationEaseInAll(250ms, null);
}

.addressBar {
	display: flex;
	justify-content: flex-end;
	gap: 20px;

	@include animationEaseInAll(250ms, null);
}

.dealerInformation {
	display: flex;
	align-items: center;
	gap: 20px;

	&::after {
		content: "|";
		color: $white;
	}

	&:last-child {
		&::after {
			content: "";
		}
	}
}

.addressBarText {
	display: flex;
	align-items: center;
	gap: 5px;
	@include primaryFontStack;
	color: $white;
	text-decoration: none;
}

.iconLocation {
	fill: $white;
	height: 20px;
	width: 20px;
}

.iconPhone {
	fill: $white;
	height: 20px;
	width: 20px;
}

.brandDealership {
	display: flex;
	align-items: center;
	background-color: $black-opacity-50;

	&::before,
	&::after {
		content: "";
		height: 2px;
		width: 100%;
		background-color: $white;
	}

	@include animationEaseInAll(250ms, null);
}

.logoDealerNameWrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	min-width: 100vw;

	@include animationEaseInAll(250ms, null);

	@include respond-screen($bp-md) {
		min-width: $container-width;
	}

	&::before {
		content: "";
		height: 2px;
		width: 5%;
		background-color: $white;
	}

	&::after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background-color: $white;
	}
}

.logoDealerNameLink {
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;

	@include animationEaseInAll(250ms, null);
}

.brandLogo {
	width: $logo-width;
	height: $logo-height;
	fill: $white;

	@include animationEaseInAll(250ms, null);
}

.dealerName {
	@include primaryFontStackBold;
	color: $white;
	font-size: 20px;

	@include animationEaseInAll(250ms, null);
}
