.headerWrapper {
	background-color: $header-bg-color;
	position: absolute;
	width: 100%;
	padding: 20px 0;
	transition: background-color $transition-duration ease-in-out;

	&:hover {
		background-color: $header-bg-color-hover;
	}
}
