.headerWrapper {
	display: grid;
	background-color: $header-bg-color;
	position: absolute;
	width: 100%;
	transition: background-color 250ms ease-in-out;

	&:hover {
		background-color: $white;

		&::before,
		&::after {
			border-top: 2px solid $black;
		}

		.addressBar,
		.dealerAddress,
		.dealerPhoneNumber,
		.dealerName,
		.navPrimaryItem {
			color: $black;
		}

		.icon-svg,
		.brandLogoSvg {
			fill: $black;
		}

		.brandLogoDealerNameWrapper {
			&::before,
			&::after {
				border-top: 2px solid $black;
			}
		}

		.brandLogoDealerNameLink {
			&::before,
			&::after {
				border-top: 2px solid $black;
			}
		}
	}
}

.headerNavWrapper {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.addressBarWrapper {
	display: none;

	@include respond-screen($bp-md) {
		display: block;
	}
}

.addressBar {
	display: flex;
	justify-content: flex-end;
	color: $white;
}

.dealerInformation {
	display: flex;
	padding-right: 20px;
	align-items: center;

	&:last-child {
		padding-right: 0;
	}
}

.dealerInfo {
	margin: 0;
}

.dealerAddress {
	@include primaryFontStack;
	padding-right: 10px;
	font-size: 13px;
	text-decoration: none;
	color: $white;
}

.icon-svg {
	position: relative;
	fill: $white;
}

.icon-svg-location {
	height: 16px;
	width: 16px;
	top: 3px;
	margin-right: 5px;
}

.icon-svg-phone {
	height: 16px;
	width: 16px;
	top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.dealerPhoneNumber {
	@include primaryFontStack;
	font-size: 13px;
	text-decoration: none;
	color: $white;
}

.brandLogoDealerNameWrapper {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr minmax(auto, 1400px) 1fr;
	align-items: center;
}

.brandLogoDealerNameWrapper::before,
.brandLogoDealerNameWrapper::after {
	content: "";
	border-top: 2px solid $white;
}

.brandLogoDealerNameLink {
	display: grid;
	grid-template-columns: 1fr auto 10fr;
	grid-gap: 15px;
	align-items: center;
	text-decoration: none;
}

.brandLogoDealerNameLink::before,
.brandLogoDealerNameLink::after {
	content: "";
	border-top: 2px solid $white;
}

.logoName {
	display: flex;
	align-items: center;
}

.brandLogoSvg {
	width: 48px;
	height: 48px;
	fill: $white;
}

.dealerName {
	@include primaryFontStackBold;
	font-size: 20px;
	color: $white;
	padding-left: 10px;
}

.navPrimaryWrapper {
	display: none;

	@include respond-screen($bp-md) {
		display: block;
	}
}

.navPrimaryList {
	display: flex;
	margin: 0;
	justify-content: flex-end;
}

.navPrimaryItem {
	@include primaryFontStack;
	list-style-type: none;
	color: $white;
	font-size: 15px;
	padding-right: 25px;

	&:last-child {
		padding-right: 0;
	}
}

.icon-svg-nav-arrow {
	width: 12px;
	height: 12px;
	transform: rotate(270deg);
	fill: $white;
	top: 3px;
}
