//Screen Sizes
$bp-xs: 384px; //24em 384px
$bp-sm: 568px; //35.5em 568px
$bp-sm-2: 640px; //40em 640px
$bp-md: 768px; //48em 768px
$bp-md-2: 880px; //55em 880px
$bp-lg: 1024px; //64em 1024px
$bp-xl: 1280px; //80em 1280px

// Colors
$white: #fff;
$black: #000;
$header-bg-color: rgba(0, 0, 0, 0.5);
$header-bg-color-hover: $white;

//container width
$container-width: 1400px;

//s3 path for fonts
$assets-path: "https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/vw";

//brand line width
$brandLineWidth: 2px;
